@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AJAX Post Test</h1>
    <p><a id="startDC" class="btn btn-success btn-block" onclick="startDataCollection()">Start</a><a id="stopDC" class="btn btn-danger btn-block" onclick="stopDataCollection()">Stop</a></p>
    <p id="ajaxResponse"></p>
</div>